<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name"/>
    <label for="lastname">Enter lastname</label>
    <input type="text" th:field="*{lastName}" id = "lastname"/>
    <label for="age">Enter age</label>
    <input type="text" th:field="*{age}" id = "age"/>
    <br/>
    <input type="submit" value="Добавить пользователя"/>
</form>

</body>
</html>